.clear {
    clear:both;
}
#parentdiv {
    float: left;
    height: 100%;
    width: 100%;
}
table{
    width:50%;
    text-align:left;
    }

td {
    border: 2px solid black;
    width:25%;
}
#USBimg {
    clear:both;
    width:200px;
    height:200px;
    margin-top:25px;
    background-image:url("images/usb.png");
    background-size: 100%;
    background-repeat:no-repeat;
    float:left;
}
#DVIimg {
    clear:both;
    width:200px;
    height:200px;
    background-image:url("images/dvi.png");
    background-size: 100%;
	background-repeat:no-repeat;
    float:left;
}
#VGAimg {
    clear:both;
    width:200px;
    height:200px;
    background-image:url("images/VGA.png");
    background-size: 100%;
    float:left;
}
#Fiberimg {
    clear:both;
    width:200px;
    height:200px;
    background-image:url("images/fiber.png");
    background-size: 100%;
    float:left;    
}
#FireWireimg {
    clear:both;
    width:200px;
    height:200px;
    background-image:url("images/firewire.png");
    background-size: 100%;
    float:left;
}
#HDMIimg {
    clear:both;
    width:200px;
    height:200px;
    background-image:url("images/hdmi.png");
    background-size: 100%;
    float:left;
}
#USBtext {
	border-style:solid;
	border-bottom-width:2px;
	background-color:white;
    font-size:85%;
	padding:8px;
    height: auto;
    width: 50%;
    cursor:pointer;
}
#DVItext {
	border-style:solid;
    background-color:white;
	border-bottom-width:2px;
    font-size:85%;
	padding:8px;
    margin-top: 25px;
    height: auto;
    width: 50%;
    cursor:pointer;
}
#VGAtext {
	border-style:solid;
    background-color:white;
	border-bottom-width:2px;
    font-size:85%;
	padding:8px;
    margin-top: 25px;
    height: auto;
    width: 50%;
    cursor:pointer;
}
#Fibertext {
	border-style:solid;
    background-color:white;
    font-size:85%;
	border-bottom-width:2px;
	padding:8px;
    margin-top: 25px;
    height: auto;
    width: 50%;
    cursor:pointer;
}
#FireWiretext {
	border-style:solid;
    background-color:white;
    font-size:85%;
	border-bottom-width:2px;
	padding:8px;
    margin-top: 25px;
    height: auto;
    width: 50%;
    cursor:pointer;
}
#HDMItext {
	border-style:solid;
    background-color:white;
    font-size:85%;
	border-bottom-width:2px;
	padding:8px;
    margin-top: 25px;
    height: auto;
    width:50%;
    cursor:pointer;
}

#resetdiv {
	clear:both;
	margin-top:35px;
	float:left;
}

